
@font-face{
	font-family: "PlayfairDisplay";
	src:url("../fonts/PlayfairDisplay-VariableFont_wght.ttf");
}

@font-face{
	font-family: "PlayfairDisplay-Italic";
	src:url("../fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf");
}
